<button class="btn btn-primary" data-toggle="modal" data-target="#modal1">
    Add New About desc.
</button>

<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class=" modal-content">
            <div class="modal-header">
                <h2 class="modal-title">About</h2>
            </div>
            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>About 1</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>About 2</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>img 1</label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>img 2</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <button class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>