@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>About Title</th>
        <th>Active</th>
        <th>Passive</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>Header</td>
            <td><a href="#" class="btn btn-success">Active</a></td>
            <td><a href="#" class="btn btn-danger">Passive</a></td>
        </tr>
    }
</table>



@Html.Action("AboutPartial", "About")