
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 profiles</del></p>
<p><del>#2 all headings paging</del></p>
<p><del>#3 messages session</del></p>
<p><del>#4 oturum yonetiminin mimariye tasi</del></p>



