
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Bootcamp Table Example</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Category Description</th>
        <th>Category Status</th>
        <th>Update</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Education</td>
        <td>Lorem ipsum.</td>
        <td>True</td>
        <td><button class="btn btn-primary">Update</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sports</td>
        <td>Lorem ipsum.</td>
        <td>True</td>
        <td><button class="btn btn-primary">Update</button></td>
    </tr>
</table>
<button class="btn btn-info">Add New Category</button>
<button class="btn btn-warning">Category List</button>
<button class="btn btn-danger">Category Desc.</button>


